*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

html{
    line-height: 2;
}

h1{
    font-size: 3.6rem;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 1.6rem;
}

h2{
    font-size: 2.8rem;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 1.6rem;
}


section{
  padding-top: 4rem;
  padding-bottom: 4rem;
}

body{
  color: #000000;
  font-family: 'Inter', sans-serif;
}

p{
  font-size: 1.6rem;
  line-height: 1.5;
  margin-bottom: 1.6rem;
}


.column{
  padding-left: 2rem;
}

.split{
  width:50%;
}

.full-width{
  width: 100%;
}

.full-width img {
  width: 100%;
  height: auto;
  display: block;
}

.readable-article{
  max-width: 42rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.middle{
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  max-width: 64rem;
  overflow: hidden;
}

.columns{
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  max-width: 94rem;
  overflow: hidden;
}

.flex-col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.relative{
  position: relative;
}

.flex{
    display: flex;
}

.mx-auto{
    margin-left: auto;
    margin-right: auto;
}

.pink-gradient{
  background: linear-gradient(-45deg,#c87eae,#6e9bcf);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

.pink{
    background-color: #FF79A3;
}

.yellow{
    background-color: #FDC400;
}

.green-gradient{
    background: linear-gradient(-45deg,#02AF70,#017857);
    background-size: 400% 400%;
}

.orange{
    background: linear-gradient(-45deg,#FE9A61,#FDC400);
    background-size: 400% 400%;
}

.grey{
    background-color: #F6F6F6;
}

footer{
  display:flex;
}

@keyframes gradient {
    0% {
        background-position:0 50%
    }

    50% {
        background-position:100% 50%
    }

    to {
        background-position:0 50%
    }
}

@media (max-width: 768px) {
  .columns{
    display: flex;
    flex-direction: column;
  }

  .column{
    width: 100%;
    padding-left: 0;
  }

  footer{
    flex-direction: column;
  }
  .split{
    width: 100%;
  }
}